.page {
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 0 auto;
}

.main__image {
  min-height: 300px;
}

.main__rollTable {
  min-width: 600px;
  min-height: 1000px;
}

.footer {
  display: flex;
  justify-content: flex-start;
}